version: '3'
services:
  leads2b-employee-mongodb:
    container_name: "leads2b-employee-mongodb"
    image: mongo:4.2.0
    restart: always
    command: mongod --logpath=/dev/null # --quiet
    environment:
      - MONGO_DATA_DIR=/data/db
      - MONGO_LOG_DIR=/dev/null
    ports:
      - 27017:27017
    volumes:
      - .mongodb/data:/data
    networks:
      - leads2b-net

  # Database Management
  leads2b-employee-mongodb-express:
    container_name: "leads2b-employee-mongodb-express"
    image: mongo-express:0.49.0
    restart: always
    environment:
      - ME_CONFIG_MONGODB_SERVER=leads2b-employee-mongodb
      - ME_CONFIG_MONGODB_PORT=27017
    ports:
      - 8081:8081
    depends_on:
      - leads2b-employee-mongodb
    networks:
      - leads2b-net

networks:
  leads2b-net:
    driver: bridge